# Logs
logs/

# Launch settings
.vscode/

# git-related and cache folders
.git/
.git
.github/
.cache

# Markdown and class files
*.md
**/*.class

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
